.profile-card{
    margin-top:30px;
    display:flex;
    gap:40px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.15);
}

.profile-image img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid #1f3c88;
    object-fit:cover;
}

.profile-details{
    flex:1;
}

.profile-details table{
    width:100%;
}

.profile-details table th{
    width:220px;
    background:#1f3c88;
    color:white;
    padding:15px;
}

.profile-details table td{
    padding:15px;
    border-bottom:1px solid #ddd;
}

.active{
    background:#2952cc;
    border-radius:5px;
}
